{% extends "base.html" %}

{% block content %}
    <h1>{{ alumno.nombre }}</h1>
    <h2>Apoderado: {{ alumno.nombre_apoderado }}</h2>
    <a href="{{ url_for('editar_alumno', alumno_id=alumno.id) }}">Editar Alumno</a>

    <h3>Pagos:</h3>
    <ul>
    {% for pago in pagos %}
        <li>{{ pago.fecha_hora }} - {{ pago.concepto }}: ${{ pago.monto }} <a href="{{ url_for('editar_pago', pago_id=pago.id) }}">Editar</a></li>
    {% endfor %}
    </ul>

    <h3>Añadir Nuevo Pago</h3>
    <form method="POST" action="{{ url_for('añadir_pago', alumno_id=alumno.id) }}">
        {{ form.hidden_tag() }}
        <p>
            {{ form.monto.label }}<br>
            {{ form.monto(size=32) }}
        </p>
        <p>
            {{ form.concepto.label }}<br>
            {{ form.concepto(size=32) }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

    <a href="{{ url_for('buscar') }}">Volver a la búsqueda</a>
{% endblock %}
