<header>
    <nav>
        <ul>
            {% if current_user.is_authenticated %}
                <li>Bienvenido, {{ current_user.nombre_usuario }}!</li>
                <li><a href="{{ url_for('index') }}">Inicio</a></li>
                <li><a href="{{ url_for('buscar') }}">Buscar Alumnos</a></li>
                <li><a href="{{ url_for('logout') }}">Cerrar sesión</a></li>
            {% else %}
                <li><a href="{{ url_for('login') }}">Iniciar sesión</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
